.series-container{
  padding: 1rem;
  margin: 2rem auto;
}

.series-main-image{
  background-image: linear-gradient(to left, transparent, #13131F), url("../../assets/filme7.png");
  background-size: cover;
  height: 300px;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}
.series-main-image h1{
  font-weight: 400;
  font-size: 3rem;
}
.series-main-image p{
  max-width: 400px;
  margin-top: 1rem;
  font-size: .9rem;
}


.serie1-img-background{
  background-image: linear-gradient(to bottom, transparent, #13131F), url("../../assets/filme1.png");
}
.serie2-img-background{
  background-image: linear-gradient(to bottom, transparent, #13131F), url("../../assets/filme5.png");
}
.serie3-img-background{
  background-image: linear-gradient(to bottom, transparent, #13131F), url("../../assets/filme7.png");
}


