.home{
  padding: 1rem 2rem;
}

.section-scroll{
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 500px){
  .section-scroll{
    margin-top: 3.5rem;
  }
}