.home{
  padding: 1rem 2rem;
}

.section-scroll{
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: space-between;
}

.section-news{
  max-width: 1440px;
  margin: 5rem auto;
}

@media (max-width: 500px){
  .section-scroll{
    margin-top: 3.5rem;
  }
  .section-news{
    margin: 5rem auto 1.5rem auto;
  }
}